*.class
*.log
*.cache
hs_err_pid*
.idea/*
/.idea/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
/project/
/target/*
*.iml
warehouse/*
*.crc
*.parquet
*.crc
*.cache
.bsp/sbt.json
.idea/modules/Warehouse_Setup-build.iml
.idea/sbt.xml
